<md-card>
  <md-card-title class="env-card-title">
    <button md-mini-fab [color]="env.error ? 'warn' : 'accent'" (click)="toggleContent()">
      <md-icon>{{iconName}}</md-icon>
    </button>
    <md-grid-list cols="2" rowHeight="80px">
      
    </md-grid-list>
    {{env.name}}
    <md-progress-bar
      [hidden]="env.progress.ready == env.progress.total"
      [mode]="'determinate'"
      [value]="100 * env.progress.ready/env.progress.total">
    </md-progress-bar>
  </md-card-title>
  <md-card-content>
    <div [hidden]="!shown">
      <app-group-status *ngFor="let gr of env.groups" [group]="gr"></app-group-status>
    </div>
  </md-card-content>
</md-card>
