<md-card>
  <md-card-header>
    <button md-card-avatar md-mini-fab [color]="env.error ? 'warn' : 'accent'" (click)="toggleContent()">
      <md-icon>{{iconName}}</md-icon>
    </button>
    <md-card-title>{{env.name}}</md-card-title>
    <md-card-subtitle>
      <md-progress-bar
        *ngIf="env.progress.ready != env.progress.total"
        style="width: 300px;"
        [mode]="'determinate'"
        [value]="100 * env.progress.ready/env.progress.total">
      </md-progress-bar>
    </md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <div *ngIf="shown">
      <app-group-status *ngFor="let gr of env.groups" [group]="gr"></app-group-status>
    </div>
  </md-card-content>
</md-card>
